@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;800&display=swap');

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --very-green: #14424b;
  --light-grenn: #2f9364;
  --soft-orange: #ff7c37;
  --white: #fff;
  --orange-gradient: linear-gradient(#fe9611, #ff5c00);
  --color-p: #a1a1a1;
  --color-p-secundary: #868585;
}

.btn-style {
  padding: 5px 35px;
  color: var(--white);
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-image: var(--orange-gradient);
}

.btn-style:hover {
  background: var(--white);
  color: var(--soft-orange);
  transition: .6s;
}

.green-background {
  background: var(--very-green);
}

section,
#footer {
  padding: 2.7rem 0;
}

.container {
  max-width: 1440px;
  padding: 0 5%;
  margin: 0 auto;

}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.logo a {
  font-size: 30px;
  font-weight: 800;
  color: var(--white);
}

.logo span {
  color: var(--soft-orange);
}

.ul {
  display: flex;
  align-items: center;
  gap: 3rem;
  
}

.ul li a {
  font-size: 1rem;
  color: var(--white);
}

.ul a:hover {
  color: var(--soft-orange);
  transition: .6s;
}

main .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.main-text {
  width: 50%;
  color: var(--white);
}

.main-text h1 {
  font-size: 4.5rem;
}

.main-text h2 {
  color: var(--soft-orange);
}

.main-text span {
  color: var(--white);
}

.main-text div {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.main-img {
  width: 50%;

}

.main-img img {
  width: 100%;
}

.btn-menu {
  display: none;
  color: var(--white);
}

#results {
  background: var(--soft-orange);
}

#results .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content-results {
  color: var(--white);
  font-size: 1.6rem;
  font-weight: 600;
  width: 50%;
}

.results-numbers  {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  gap: 2rem;
  text-align: center;
}

.results-numbers span {
  font-size: 1.5rem;
  font-weight: 600;
}

.results-numbers p {
  font-size: 1;
  font-weight: 300;
}

#divulgation .container {
  display: flex;
  justify-content:space-between;
  
}

#divulgation img {
  width: 20%;
}

.card {
  width: 30%;
  cursor: pointer;
  padding: 30px;
  border-radius: 15px;
  transition: 0.6s;
  margin-top: 2rem;
  
}

.card:hover {
  transform: translateY(-15px);
  box-shadow: 0 10px 67px;

}

.card h3 {
  margin: 13px 0;
  font-weight: 600;
}

#home-info .container {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.home-img {
  width: 50%;
}

.home-img img {
  width: 100%;
  border-radius: 10px;
}

.home-text {
  width: 50%;
  
}

.home-text h2 {
  font-size: 2.5rem;
}

.home-text p {
  margin: 20px 0;
  color: var(--color-p);
}

.home-text span {
  display: flex;
  font-weight: 600;
  font-size: 20px;
  padding: 10px;
  
}


.location-text p {
  color: var(--light-grenn);
  font-size: 25px;
  font-weight: 500;
}

.location-text h2 {
  font-size: 2.5rem;
  
}

#location-info {
  text-align: center;
  margin-top: 3rem;
  
}

#location-info a {
  font-size: 1.5rem;
  color: #000;
  
  
}

#location-info a:hover {
  border-bottom: 2px solid var(--soft-orange);
  transition: .6s;
}

.cards {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;

}

.cards-items {
  width: 30%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  
}

.cards-items .district {
  color: var(--color-p);
}

.cards-items .location {
  font-size: 30px;
  font-weight: 500;
  
}

.cards-items .contact {
  font-weight: 500;
}


.cards-items img {
  width: 20%;
}

.cards-items button {
  margin-top: 10px;
  padding: 10px 20px;
  color: var(--white);
  background: var(--soft-orange);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cards-items button:hover {
  background: var(--very-green);
  color: var(--white);
  transition: .6s;
}

#newsletter {
  background: var(--light-grenn);
}

.box-newsletter {
  text-align: center;
  background-image: url('../image/background-newsletter.png');
  padding: 7rem;
  background-size: cover;
  border-radius: 15px;
  background-position: center;
}

.box-newsletter h2 {
  font-size: 2.5rem;
}

.box-newsletter p {
  margin: 13px 0;
}

.box-newsletter input {
  width: 35%;
  padding: 15px;
  border-radius: 15px;
  border: none;
  outline: none;
  color: #000;
  background-color: #faefda;

}

.box-newsletter button {
  font-size: 15px;
  border: none;
  padding: 15px;
  border-radius: 15px;
  background-color: var(--light-grenn);
  color: var(--white);
  cursor: pointer;
}

@media (max-width: 960px) {

  .btn-menu {
    display: block;
  }

  .btn-menu i {
    font-size: 2rem;
    position: relative;
    z-index: 10;
  }

  .ul {
    position: fixed;
    background-color: var(--very-green);
    top: 0;
    width: 100%;
    height: 100%;
    left: 100%;
    transition: 0.3s;
    flex-direction: column;
    justify-content: center;
    
  }

  .ul li a {
    font-size: 2rem;
    padding: 5px 10px;
  }

  .ul li a:hover {
    background: var(--soft-orange);
    color: var(--very-green);
    border-radius: 5px;

  }
  .active {
    left: 0;
    position: absolute;
  }

  .container {
    flex-direction: column;
    text-align: center;
  }

  .btn-style {
    padding: 1rem;
    font-size: 1rem;
    font-weight: 800;
  }

  .container,
  .main-img,
  .main-text
    {
    width: 100%;
  }

  .main-text div {
    justify-content: center;
  }

  .content-results,
  .results-numbers {
    width: 100%;
    text-align: center;
  }

  .results-numbers {
    margin-top: 3rem;
  }

  #divulgation {
    flex-direction: column;
    align-items: center;
  }

  #divulgation .card {
    width: 100%;
    text-align: center;
  }

  #home-info .container {
    flex-direction: column-reverse;
  }

  .home-text,
  .home-img{
    width: 100%;
    
  }

  .home-text span {
    justify-content: center;
  }

  #home-location {
    flex-direction: column;
  }

  .cards-items {
    width: 100%;
  }
  
  .box-newsletter {
    padding: 4rem;
  }


  .box-newsletter h2 {
    font-size: 2rem;
  }

  .box-newsletter input {
    width: 65%;
    margin-bottom: 20px;
  }

  .box-newsletter button {
    width: 65%;
  }
}

@media (max-width: 490px) {
  .results-numbers {
    flex-direction: column;
  }

  .main-text h1 {
    font-size: 3rem;
  }

  .main-text img {
    display: none;
  }

  .main-img {
    margin-top: 2rem;
  }

  .box-newsletter h2 {
    font-size: 1rem;
  }

  .box-newsletter {
    padding:2rem;
  }

  .box-newsletter input {
    width: 100%;
    margin-bottom: 20px;
  }

  .box-newsletter button {
    width: 100%;
  }

}

@media (max-width: 365px) {
  .box-newsletter {
    padding: 1rem;
  }
}
